.quoteContainer {
  margin-left: 2%;
}

.quoteResponse {
  width: 75%;
}

.quoteHeader {
    margin-bottom: 1%;
    font-size: 16px;
    font-weight: bold;
}

.spinner {
  display: flex;
  align-items: center;
  margin-left: 2%
}
