.transactionFormContainer {
  display: flex;
}

.fromContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2%;
}

.fromInput {
  width: 250px;
  margin-bottom: 1%;
  font-size: 10px;
}

.fromSelect {
  width: 100%;
}

.toContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2%;
}

.toInput {
  width: 250px;
  margin-bottom: 1%;
  font-size: 10px;
}

.toSelect {
  width: 100%;
}

.amountContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2%;
}

.amountInput {
  width: 150px;
  font-size: 10px;
  margin-bottom: 5%;
}

.getQuoteButton {
  margin-bottom: 2%;
}

.transferButton {
  margin-top: 1%;
}

@media screen and (max-width: 774px) {
  .transactionFormContainer {
    flex-direction: column;
  }

  .toInput {
    font-size: large;
  }

  .toSelect {
    width: 100%;
    font-size: large;
  }

  .fromInput {
    width: 100%;
    margin-bottom: 1%;
    font-size: large;
  }

  .fromSelect {
    width: 100%;
    font-size: large;
  }

  .amountInput {
    width: 100%;
    font-size: large;
    margin-bottom: 5%;
  }
}
